* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #111;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
position: fixed;
background: linear-gradient(170deg, #ff9933, #ffffff, #138808);
display: flex;
align-items: flex-start;
height: 9vh;
width: 100%;
padding: 2vw 10.4vw;
justify-content: space-between;
z-index: 10;
}

.logo-container {
    position: absolute;
    top: 0;
    right: 0;
}

.logo-container img {
    width: 10vw; /* Adjust the width as needed */
    height: auto;
}

nav h1 {
    font-size: 1.6vw;
   }

.nav-part2 {
    display: flex;
    gap: 3vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}

.nav-part2 h4 {
    font-size: 0.73vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 3vw;
    transition: transform 0.3s; /* Add transition for smooth scaling */
}

.nav-part2 h4:hover {
    transform: scale(1.5); /* Grow on hover */
}

.nav-part2 h5 {
    margin-bottom: 1vw;
    /* background-color: red; */
    display: none;
    overflow: hidden;
    transition: transform 0.3s; /* Add transition for smooth scaling */

}

.nav-part2 h5:hover {
   transform: scale(1.1); /* Grow on hover */
}

.nav-part2 h5 span {
    font-size: 0.77vw;
    font-weight: 900;
    transform: translateY(25px);
    display: inline-block;
}


nav button {
background-color: rgb(30, 201, 144);
display: flex;
align-items: center;
padding: 14px 20px;
font-size: 0.85vw;
text-transform: uppercase;
font-weight: 700;
border-radius: 50px;
border: none;
margin-top: -1vh; /* Adjust the margin-top value to move the button up */
transition: background-color 0.3s, transform 0.3s;
}

nav button:hover {
    background-image: linear-gradient(170deg, #ff9933, #ffffff, #138808);
    transform: scale(1.05); /* Grow on hover */
}

nav button:active {
    transform: scale(0.95); /* Shrink on press */
}

nav button svg {
    height: 0.8vw;
    margin-left: 1.6vw;
}

#nav-bottom {
width: 79%;
height: 0vh;
position: absolute;
background-color: rgba(255, 153, 51, 0.5); /* Saffron color with transparency */
top: 100%;
z-index: 9;
border-bottom-left-radius: 90%;
border-bottom-right-radius: 90%;
border-bottom: 12px solid #999; /* Border for the bottom */
}

#page1 {
    background: linear-gradient(180deg, #ffffff, #ff9933, #ffffff);
    height: 100vh;
    width: 100%;
    background-color:#faf9f6ae;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.slide-container{
    background-color:#111;
    position: relative;
    width: 100%;
    height: 70%;
    border: 3px solid #ede6d6;
}
.slide-container .slides{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.slide-container .slides img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit:fill;
}
.slide-container .slides img:not(.active){
    top: 0;
    left: -100%;
}
span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px;
    color: #eee;
    font-size: 24px;
    font-weight: bold;
    transition: 1s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}
span.next{
    right: 20px;
}
span.prev{
    left: 20px;
}
span.next:hover, span.prev:hover{
    background-color: #ede6d6;
    opacity: 0.8;
    color: #222;
}
.dotsContainer{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}
.dotsContainer .dot{
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
}
.dotsContainer .active{
    background-color: #555;
}

@keyframes next1{
    from{
        left: 0%
    }
    to{
        left: -100%;
    }
}
@keyframes next2{
    from{
        left: 100%
    }
    to{
        left: 0%;
    }
}

@keyframes prev1{
    from{
        left: 0%
    }
    to{
        left: 100%;
    }
}
@keyframes prev2{
    from{
        left: -100%
    }
    to{
        left: 0%;
    }
}

#page1 h1 {
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}

#page1 h1 svg {
    height: 6vw;
    border-radius: 50%;
    width: 6vw;
    background-color: #0BA34E;
}

#page1 p {
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
    font-size: 1vw;
}

#page1-something {
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1-something h4 {
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    margin-top: 0.5vw;
    padding: 9px 18px;
    border: 1px solid hsl(0, 0%, 65%);
    border-radius: 50px;
}

#page1-something h4:nth-last-child(2) {
    /* background-color: red; */
    border: none;
    padding: 2px;
}

#moving-div {
    /* background-color: red; */
    margin-top: 8vh;
    position: absolute;
    bottom: 3%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
    width: 50%;

}

#moving-div .move {
    display: inline-block;
    animation-name: mobe;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move img {
    height: 3vw;
    margin: 0 1vw;
}

@keyframes mobe {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }

}

#blur-left {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, #faf9f6ae, transparent);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#blur-right {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, transparent, #faf9f6ae);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}





#page2 {
    height: 100vh;
    width: 100%;
    background-color: #faf9f6ae;
    position: relative;
    padding: 0vw 10.5vw;
    padding-bottom: 8vw;
    display: flex;
    align-items: center;
    border-top: 1px solid #333;
    justify-content: space-between;
}

#page2-left {
    height: 100%;
    width: 40%;
    /* background-color: #333; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw 0;
}

#page2-left p {
    font-size: 0.8vw;
}

#page2-left h5 {
    width: 75%;
    font-weight: 400;
    font-size: 1.1vw;
}


#page2-right {
    height: 100%;
    width: 50%;
    /* background-color: #333; */
}

.right-elem {
    position: relative;
    /* background-color: red; */
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}

.right-elem h2 {
    font-size: 1.4vw;
    font-weight: 400;
}

.right-elem img {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    scale: 0;
}


#page3 {
    height: 100vh;
    width: 100%;
    background-color: #faf9f6ae;
    position: relative;
    background-image: url(https://i.postimg.cc/hPfrGjGz/fir-sahayak-pic-2.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.page3-center {
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 1vw;
    flex-direction: column;
}

.page3-center .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.3vw;
    border-radius: 50%;
    background-color: #faf9f6ae;
}

.page3-center .icon i {
    color: #000;
    font-size: 2.8vw;

}

.page3-center h5 {
    font-size: 0.8vw;
    background-color: #faf9f6ae;
    color: #000;
    border-radius: 50px;
    padding: 12px 26px 10px 26px;
    margin-top: 0.5vw;
    font-weight: 700;
    opacity: 0;
    transition: all ease 0.5s;
    transform: translateY(16%);
    text-transform: uppercase;
}

.page3-center:hover h5 {
    opacity: 1;
    transform: translateY(0%);
}

/* Login modal styles */
.modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 420px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
.modal-content h2 {
    margin-top: 0;
}
.modal .close {
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    font-size: 1.6rem;
    cursor: pointer;
}
.modal-form label {
    display: block;
    margin-top: 0.8rem;
    font-weight: 600;
}
.modal-form input {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.modal-submit {
    margin-top: 1rem;
    width: 100%;
    padding: 0.8rem;
    background-color: rgb(30, 201, 144);
    border: none;
    color: #fff;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
}
.modal-footer {
    margin-top: 1rem;
    text-align: center;
}

@media (max-width: 600px) {
    .modal-content { max-width: 320px; padding: 1rem; }
}

#page3 video {

    height: 100%;
    width: 60%;
    position: absolute;
    object-fit: fill;
    transform: scaleX(0.7) scaleY(0);
    opacity: 0;
    border-radius: 30px;
    z-index: 99999;

}

#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #faf9f6ae;
    position: relative;
    padding-bottom: 13vh;
}

.section {
    width: 100%;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13vh 10vw;
    padding-bottom: 0;
}

.sec-left {
    height: 100%;
    width: 25%;
    padding-top: 3vh;
    /* background-color: aqua; */
    border-top: 2px solid #000;

}

.sec-left h2 {
    font-size: 2.1vw;
    font-weight: 500;
    color: #000;
}

.sec-left p {
    color: #000;
    margin-top: 10vh;
    font-size: 1.2vw;
    /* width: 80%; */
}

.sec-right {
    height: 100%;
    width: 70%;
    background-color: blanchedalmond;
    position: relative;
}

.sec-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sec-right video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity ease 0.1s;
}

#page5 {
    min-height: 100vh;
    background: linear-gradient(to bottom, #fff, #88CC7C);
    width: 100%;
    position: relative;
    padding: 5vh 10.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#page5 .button {
    background-color: rgb(30, 201, 144);
    padding: 0.9vw 2.5vw;
    font-weight: 600;
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    position: sticky;
    top: 15%;
    z-index: 20; /* keep the page CTA above the expanding nav overlay */
}

#page5-right {
    width: 70%;
}

#page5-right > p {
    font-size: 2.1vw;
}

#page5-right > p span {
    /* background-color: red; */
    width: 15vw;
    display: inline-block;
}

#page5-content {
    width: 100%;
    /* background-color: red; */
    margin-top: 5vh;
    padding: 5vh 0;
}

#page5-content h1 {
    font-size: 3vw;
    font-weight: 500;
    margin-top:4vh;
}

#page5-content #flex {
    display: flex;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#page5-content #flex h4 {
    border-radius: 50px;
    border: 1px solid #faf9f6ae;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 0.8vw;

}

.page5-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    /* padding: 2vh 0; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    padding-top: 3vh;
    padding-bottom: 9vh;
    overflow: hidden;
    border-top: 1px solid #333;
    position: relative;
}

.page5-elem p {
    width: 55%;
    font-size: 0.8vw;
    position: relative;
    z-index: 8;
}

.page5-elem h3 {
    font-size: 1.6vw;
    font-weight: 400;
    position: relative;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 8;
}

.page5-elem i {
    font-size: 1vw;
    position: relative;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 8;
}

.over {
    height: 100%;
    width: 100%;
    background-color: #dadada;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    /* display: none; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page5-elem:hover h3 {
    padding-left: 1vw;


}


.page5-elem:hover i {
    padding-right: 1vw;

}

.page5-elem:hover .over {
    transform: translateY(0);
    /* display: initial; */
    background-color: #72ae67;
    opacity: 1;
    color:#fff;
}

.page5-elem:hover {
    border-top: 2px solid #fff;
    color:#fff;
}



summary::marker {
    content: "";
}

.uiux {
    border-top: 1px solid #333;
    padding: 3vh 0;
}

.product {
    padding: 3vh 0;

    border-top: 1px solid #333;
}

#page6 {
    min-height: 100vh;
    width: 100%;
    /* background-color: #111; */
    background-color: #faf9f6ae;
    padding: 10vh 10vw;
}

#page6 > h1 {
    font-size: 5.5vw;
    color: #000;
    /* background-color: red; */
    padding-left: 23vw;
    padding-right: 5vw;
    line-height: 5.8vw;
    padding-bottom: 10vh;
    border-bottom: 1px solid #dadada;
}

#page6-content {
    /* background-color: red; */
    color: #000;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vh 0;
}

#page6-content #right-6 {
    width: 70%;
}

#page6-content #right-6 p {
    font-size: 1.5vw;
    color: #000;
    margin-bottom: 5vh;
    width: 80%;
}

#blue-btn {
    background-color: #4f5bff;
    width: 15vw;
    height: 3.5vw;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blue-btn h4 {
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85vw;
    /* letter-spacing: 1px; */
}

#blue-btn h4 i {
    font-size: 1.1vw;
    font-weight: 100;
    margin-left: 0.5vw;
}

#page6-bottom {
    height: 44vh;
    width: 100%;
    /* background-color: red; */
    border-top: 1px solid #dadada;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* background-color: rgb(48, 48, 48); */
    /* color: #000; */
}

#btm6-part1 {
    border-right: 1px solid #dadada;
    width: 30%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part2 {
    border-right: 1px solid #dadada;
    width: 28%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part3 {
    border-right: 1px solid #dadada;
    width: 15%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part4 {
    border-right: 1px solid #dadada;
    width: 15%;
    /* background-color: red; */
    height: 100%;
}

#btm6-part5 {

    width: 15%;
    /* background-color: red; */
    height: 100%;
}

.btm6-parts {
    padding: 3vh 0.6vw;
}

.btm6-parts h5 {
    color: #000;
    font-weight: 500;
    font-size: 0.9vw;
    margin-bottom: 4vh;
}

.btm6-parts h4 {
    background-color:#faf9f6ae;
    width: 75%;
    padding: 5px 10px;
    margin-bottom: 0.3vh;
    border-radius: 50px;
    font-size: 0.85vw;
    display: flex;
    align-items: center;
    font-weight: 500;

}

.btm6-parts h4 span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    height: 1.5vw;
    background-color: #333;
    padding: 0.5vw;
    border-radius: 50%;
    margin-right: 1vw;
}
#btm6-part2 h4:nth-child(2){
    transform: translateX(0);
}
#btm6-part2 h4:nth-child(3){
    transform: translateX(10%);
}
#btm6-part2 h4:nth-child(4){
    transform: translateX(20%);
}
#btm6-part2 h4:nth-child(5){
    transform: translateX(30%);
}
#btm6-part2 h4:nth-child(6){
    transform: translateX(40%);
}
#btm6-part2 h4:nth-child(7){
    transform: translateX(50%);
}


#page7 {
    height: 100vh;
    background-color: #faf9f6ae;
}

.auto-type {
    color: aquamarine;
    font-size: 25px;
    margin: 10px;
    margin-top: 2px;
    letter-spacing: 5px;
}

/* Hide the default cursor */
.typed-cursor {
    color:transparent;
}


.page-end {
right:0;
display: flex;
align-items: flex-start;
height:20%;
width:100%;
}

footer {
background: #dadada;
padding-top: 15px;
margin-top: auto; /* Push footer to bottom of page */
width: 100%; /* Ensure footer stretches across the width of the viewport */
}

.container {
max-width: 1140px;
margin: auto;
display: flex;
justify-content: center;
flex-wrap: wrap; /* Wrap footer content if it overflows */
}

.footer-content {
width: 33.3%;
}

h3 {
font-size: 28px;
margin-bottom: 5px;
text-align: center;
}

.footer-content p {
width: 190px;
margin: auto;
padding: 1px;
}

.footer-content ul {
text-align: center;
}

.list {
padding: 0;
}

.list li {
width: auto;
text-align: center;
list-style-type: none;
padding: 5px;
position: relative;
}

.list li::before {
content: '';
position: absolute;
transform: translate(-50%, -50%);
left: 50%;
top: 100%;
width: 0;
height: 2px;
background: rgb(30, 201, 144);
transition-duration: .5s;
}

.list li:hover::before {
width: 70px;
}


ul.first{
margin-top:19px;
}
.social-icons {
text-align: center;
padding: 0;
}

.social-icons li {
display: inline-block;
text-align: center;
padding: 5px;
}

.social-icons i {
color: black;
font-size: 25px;
}

a {
text-decoration: none;
}

a:hover {
color: rgb(30, 201, 144);
}

.social-icons i:hover {
color: rgb(30, 201, 144);
}

.bottom-bar {
background: #111;
text-align: center;
padding: 10px 0;

}

.bottom-bar p {
color:#fff;
margin: 0;
font-size: 16px;
padding: 7px;
}

.video-playing {
background-color: black;
}